:root {
  --main-bg-color: #f7b003;
  --main-text-color: #274eaf;
}

body {
  background: center/ 100% no-repeat url('./images/background.jpg');
  font-family: system-ui, sans-serif;
}

button.startBtn {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

dialog {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 0.5rem;
}

dialog button {
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.turn {
  /* background-color: var(--main-bg-color); */
  color: var(--main-text-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* border: 1px solid black; */
  gap: 2px;
  padding: 2px;
  /* background-color: black; */
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  border: 1px solid black;
  background: var(--main-bg-color);
  cursor: pointer;
  color: var(--main-text-color);
}

/* var(--main-bg-color) black */
/* #68c6c7 white */
/* #9084df white */
